<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<nav class="navbar" role="navigation">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#"><strong>Mail</strong>courier</a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="menu">
			      <ul class="nav navbar-nav navbar-right">
			        <li>
						<a id="usernameLabel" role="button" data-toggle="dropdown" data-target="#" href="" class="text-black">
						username <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="usernameLabel">
							<li><a href="" class="text-grey"><span class="glyphicon glyphicon-log-out"></span> logout</a></li>
						</ul>
			        </li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			</nav>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<ul class="list-unstyled list-inline title-separator">
				<li class="align-middle"><%= image_tag "close-box.png" , class: "img-responsive", title: 'Ballicons 2 Free by Pixel Buddha is licensed under CC BY 3.0'%></li>
				<li class="align-middle"><h3 class="no-margin">Package Details</h3></li>
			</ul>
		</div>
		<div class="col-xs-12">
			<dl class="dl-horizontal">
				<dt class="text-uppercase">id</dt>
				<dd>15412344</dd>
				<dt class="text-capitalize">description</dt>
				<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem sequi, vel repellendus repudiandae dignissimos praesentium voluptatum reprehenderit et, ad adipisci sed ipsa reiciendis tempora illo nesciunt, neque expedita! Ducimus, unde.</dd>
				<dd>Lorem ipsum dolor sit amet.</dd>
				<dt class="text-capitalize">From</dt>
				<dd>Lorem ipsum</dd>
				<dt class="text-capitalize">To</dt>
				<dd>Lorem ipsum</dd>
				<dt class="text-capitalize">status</dt>
				<dd>Lorem ipsum dolor sit amet.</dd>
				<dt class="text-capitalize">weight</dt>
				<dd>10.10</dd>
				<dt class="text-capitalize">height</dt>
				<dd>10.10</dd>
				<dt class="text-capitalize">depth</dt>
				<dd>10.10</dd>
				<dt class="text-capitalize">value</dt>
				<dd>10.10</dd>
				<dt class="text-capitalize">agency</dt>
				<dd>Lorem ipsum dolor</dd>
				<dt class="text-capitalize">Send Cost</dt>
				<dd>10.10</dd>
				<dt class="text-capitalize">Date Added</dt>
				<dd>10/10/2014</dd>
				<dt class="text-capitalize">Date Arrived</dt>
				<dd>10/10/2014</dd>
				<dt class="text-capitalize">Date Delivered</dt>
				<dd>10/10/2014</dd>
			</dl>
		</div>
	</div>
</div>


