<div class="green-background">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<section class="presentation">
					<h1>some title, <strong>subtitle</strong></h1>
					<div class="row">
						<div class="col-xs-offset-2 col-xs-8">
							<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio unde soluta quae iste deserunt accusantium cumque dicta facere laudantium reiciendis temporibus architecto tempora, illo assumenda? Doloribus quis magni reiciendis magnam aliquam quibusdam, vel aliquid perspiciatis quo? Eveniet numquam eum hic, at, dolor quos sequi odio, enim quis iure accusamus commodi alias temporibus quidem impedit sint earum nihil deserunt vero? Necessitatibus.</p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-1">
			<section class="info">
				<div class="text-center">
					<%= image_tag "calculator.png" %>
					<h2>Calculator</h2>
				</div>
				<div class="separation-1">
					<div class="form-group">
						<div class="input-group">
						  <div class="input-group-addon text-capitalize">Height</div>
						  <input id="height" class="form-control text-capitalize" type="text" placeholder="Enter Height in centimeters">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
						  <div class="input-group-addon text-capitalize">width</div>
						  <input id="width" class="form-control text-capitalize" type="text" placeholder="Enter wuith in centimeters">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
						  <div class="input-group-addon text-capitalize">Depth</div>
						  <input id="depth" class="form-control" type="text" placeholder="Enter Depth centimeters">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
						  <div class="input-group-addon text-capitalize">Weight</div>
						  <input id="weight" class="form-control text-capitalize" type="text" placeholder="Enter Weight in kilograms">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
						  <div class="input-group-addon text-capitalize">Value</div>
						  <input id="value" class="form-control text-capitalize" type="text" placeholder="Enter Value in Bsf">
						</div>
					</div>
					<div class="form-group total">
						<label for="price">Total:</label>
						<span name="price" id="price"></span>
					</div>
					<div class="form-group text-right">
						<button type="button" class="btn btn-red text-capitalize" id="calc">Calculate</button>
					</div>
				</div>
			</section>
		</div>
		<div class="col-xs-12 col-md-4 col-md-offset-2">
			<section class="info">
				<div class="text-center">
					<%= image_tag "money.png", title:'Keynote and PowerPoint icons by Magnus Emil Liisberg Helding is licensed under Free for commercial use'%>
					<h2>Prices</h2>
				</div>
				<ul class="rates text-center">
					<li class="pull-left">
						<h3>Value Rate</h3>
						<p>2 %</p>
					</li>
					<li class="pull-right">
						<h3>Size Rate</h3>
						<p>30</p>
					</li>
					<div class="clearfix"></div>
				</ul>
				<p class="text-center text-grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum nobis est dolorem at tempora nulla expedita, eaque, distinctio ut accusamus consequuntur nostrum, deserunt quas explicabo tempore ipsum hic vel amet.</p>
			</section>
		</div>
	</div>
</div>

