<div class="row">
	<div class="col-md-12">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nostrum eius iste dolore, omnis ducimus ut, expedita minima repellat voluptatibus quas dolorum recusandae delectus id possimus quos veritatis, illum! A?</p>
		<button class="btn btn-warning">adsa</button>
	</div>
</div>