<table class="table table-hover" id="table-package">
	<thead>
		<tr>
			<th>#</th>
			<th>Description</th>
			<th>Role</th>
			<th>Status</th>
			<th>Details</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Headset</td>
			<td>Sender</td>
			<td>Pending</td>
			<td><a href="">View Details</a></td>
		</tr>
		<tr>
			<td>2</td>
			<td>Headset</td>
			<td>Sender</td>
			<td>Pending</td>
			<td><a href="">View Details</a></td>
		</tr>
	</tbody>
</table>