<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<ul class="list-unstyled list-inline title-separator">
				<li class="align-middle"><%= image_tag "open-box.png" , class: "img-responsive img-sm", title: 'Ballicons (free) by Nick Frost is licensed under CC BY 3.0'%></li>
				<li class="align-middle"><h3 class="no-margin">Packages</h3></li>
			</ul>
		</div>
		<div class="col-xs-12 col-md-8">
			<div class="table-responsive">
				<table class="table table-hover" id="table-package">
					<thead>
						<tr>
							<th>#</th>
							<th>Description</th>
							<th>Role</th>
							<th>Status</th>
							<th>Details</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Headset</td>
							<td>Sender</td>
							<td>Pending</td>
							<td><a href="">View Details</a></td>
						</tr>
						<tr>
							<td>2</td>
							<td>Headset</td>
							<td>Sender</td>
							<td>Pending</td>
							<td><a href="">View Details</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="text-right">
				<ul class="pagination">
				  <li><a href="#">&laquo;</a></li>
				  <li><a href="#">1</a></li>
				  <li><a href="#">2</a></li>
				  <li><a href="#">3</a></li>
				  <li><a href="#">4</a></li>
				  <li><a href="#">5</a></li>
				  <li><a href="#">&raquo;</a></li>
				</ul>	
			</div>
		</div>
		<div class="col-md-offset-1 col-md-3 col-xs-12">
			<form action="" role="form" method="post">
				<div class="input-group form-group">
			        <input type="text" class="form-control" placeholder="Search Package" name="search-term" id="search-term">
			        <div class="input-group-btn">
			            <button class="btn btn-green" type="submit"><i class="glyphicon glyphicon-search"></i></button>
			        </div>
			    </div>
			</form>
	    	<p class="text-danger text-center">0 Packages found</p>
		</div>
	</div>
</div>