<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<nav class="navbar" role="navigation">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#"><strong>Mail</strong>courier</a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="menu">
			      <ul class="nav navbar-nav navbar-right">
			        <li>
						<a id="usernameLabel" role="button" data-toggle="dropdown" data-target="#" href="" class="text-black">
						username <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="usernameLabel">
							<li><a href="" class="text-grey"><span class="glyphicon glyphicon-log-out"></span> logout</a></li>
						</ul>
			        </li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			</nav>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<ul class="list-unstyled list-inline">
				<li class="align-middle"><%= image_tag "open-box.png" , class: "img-responsive img-sm"%></li>
				<li class="align-middle"><h3 class="no-margin">Packages</h3></li>
			</ul>
		</div>
		<div class="col-xs-12 col-md-8">
			<div class="table-responsive">
				<%= render :partial => "tables/operator" %>
			</div>
			<div class="text-right">
				<ul class="pagination pagination-sm">
				  <li><a href="#">&laquo;</a></li>
				  <li><a href="#">1</a></li>
				  <li><a href="#">2</a></li>
				  <li><a href="#">3</a></li>
				  <li><a href="#">4</a></li>
				  <li><a href="#">5</a></li>
				  <li><a href="#">&raquo;</a></li>
				</ul>	
			</div>
		</div>
		<div class="col-md-offset-1 col-md-3 col-xs-12">
			<%= render :partial => "forms/operator" %>
	    	<p class="text-danger text-center">0 Packages found</p>
		</div>
	</div>
</div>