<form action="" role="form" method="post" class="form-horizontal" id="new-package">
	<div class="form-group">
		<label for="description" class="col-sm-2 control-label text-capitalize">description</label>
		<div class="col-xs-12 col-md-6">
		<input required type="text" class="form-control text-capitalize" name="description" placeholder="Package Description">
		</div>
	</div>
	<div class="form-group">
		<label for="weight" class="col-sm-2 control-label text-capitalize">weight</label>
		<div class="col-xs-12 col-md-6">
		<input required type="text" class="form-control text-capitalize" name="weight" placeholder="Package weight">
		</div>
	</div>
	<div class="form-group">
		<label for="height" class="col-sm-2 control-label text-capitalize">height</label>
		<div class="col-xs-12 col-md-6">
		<input required type="text" class="form-control text-capitalize" name="height" placeholder="Package height">
		</div>
	</div>
	<div class="form-group">
		<label for="depth" class="col-sm-2 control-label text-capitalize">depth</label>
		<div class="col-xs-12 col-md-6">
		<input required type="text" class="form-control text-capitalize" name="depth" placeholder="Package depth">
		</div>
	</div>
	<div class="form-group">
		<label for="value" class="col-sm-2 control-label text-capitalize">value</label>
		<div class="col-xs-12 col-md-6">
		<input required type="text" class="form-control text-capitalize" name="value" placeholder="Package value">
		</div>
	</div>
	<div class="form-group">
		<label for="Destination" class="col-sm-2 control-label text-capitalize">Destination</label>
		<div class="col-xs-12 col-md-6">
		<select required class="form-control" name="agency">
			<option selected disabled value="">Select an Agency</option>
			<option value="">Location 1</option>
			<option value="">Location 2</option>
			<option value="">Location 3</option>
		</select>
		</div>
	</div>
	<div class="form-group">
		<label for="Receiver" class="col-sm-2 control-label text-capitalize">Receiver</label>
		<div class="col-xs-12 col-md-6">
		<input required type="text" class="form-control text-capitalize" name="receiver" placeholder="Receiver Username">
		</div>
	</div>
</form>