<form action="" role="form" method="post">
	<div class="input-group form-group">
        <input type="text" class="form-control" placeholder="Search Package" name="search-term" id="search-term">
        <div class="input-group-btn">
            <button class="btn btn-green" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
    <span class="text-grey">Search by...</span>
	<div class="radio">
		<label class="radio-inline">
			<input checked type="radio" name="search-by" id="search-by1" value="user"> User
		</label>
		<label class="radio-inline">
			<input type="radio" name="search-by" id="search-by2" value="package"> Package
		</label>
	</div>
</form>