@import "utilities/variables";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'), url(asset_path('glyphicons-halflings-regular.woff')) format('woff'), url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'), url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}	

// Mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color;
    background: rgba($color, $opacity);
}
@mixin text-color-opacity($color, $opacity: 0.3) {
   color: $color;
   color: rgba($color, $opacity);
}
@mixin border-color-opacity($color, $opacity: 0.3) {
   border-color: $color;
   border-color: rgba($color, $opacity);
}

// Global Styles

body {
  font-family: $font-stack;
  color: $black;
}

#usernameLabel{
	background:none !important;
	&:focus,&:hover{
		background:none !important;
		color: $black;
	}
}

// Buttons

.btn-black{
	background-color: $black;
	color: #fff;
}
.btn-black:hover,.btn-black:focus{
	color: #fff;
}
.btn-red{
	background-color: $red;
	color: #fff;
}
.btn-red:hover{
	color: #fff;
}
.btn-green{
	background-color: $green;
	color: #fff;
}
.btn-green:hover{
	color: #fff;
}

// Text
.text-white{
	color: #fff;
}
.text-black{
	color: $black;
}
.text-grey{
	color: $grey;
}
.text-green{
	color: $green;
}

// Background
.green-background{
	background-color: $green;
}

// Helpers
.no-radius{
	@include border-radius(0);
}
.no-margin{
	margin:0;
}
.align-middle{
	vertical-align:middle;
}

.img-sm{
	max-width:64px;
}


// Bootstrap
.modal{
	.modal-content{
		background-color: #FEF0E3;
		@extend .no-radius;
		.modal-header {
			border-bottom: none;
			h1{
				@extend .text-green;
				text-align:center;
				text-transform:capitalize;
			}
		}
		.modal-footer {
			border-top: none;
		}
	}
	.modal-body{
		label{
			@include text-color-opacity($green,0.5)
		}
		input,select,textarea{
			@extend .no-radius;
		}
		.form-control{
			outline:none;
			border-width:2px;
			@include border-color-opacity($green,0.5);		
		}
	}
}

.dropdown-menu{
	li{
		a {
			color: $black;
		}
	}
}
.table-hover{
	tbody{
		tr:hover td{
			background-color: #e2e2e2;
		}
	}
}
