<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @username %>,</h1>
    <p>
      Your <a href="<%=@url%>">package</a> has successfully reached  its destination to <%= @agency %>
    </p>
    <br>
    <p>Thanks for using Mailcourier!</p>
  </body>
</html>